/* app/admin/admin.module.css */

/* General Layout */
.layoutContainer {
  display: flex;
  height: 100vh;
  width: 100vw;
  background-color: #f9fafb;
  overflow: hidden;
}

.sidebar {
  width: 220px;
  background-color: #ff8fda;
  display: flex;
  flex-direction: column;
  padding: 1.5rem 0;
  flex-shrink: 0;
}

.sidebarHeader {
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: 2rem;
  color: #1f2937;
}

.sidebarNav {
  display: flex;
  flex-direction: column;
}

.sidebarNav a {
  padding: 0.75rem 1.5rem;
  color: white;
  text-decoration: none;
  font-weight: 500;
  transition: background-color 0.2s;
}

.sidebarNav a:hover {
  background-color: #db6dc3;
}

.sidebarNav a.activeLink {
  color: white;
  font-weight: 500;
}

.mainContent {
  flex-grow: 1;
  padding: 2rem;
  overflow-y: auto;
}

/* New Login Page Styles for /admin */
.loginContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #ffffff;
}

.loginLogo {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 4rem;
}

.loginForm {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  max-width: 320px;
}

.loginInput {
  padding: 1rem;
  border: 1px solid #d1d5db;
  border-radius: 0.375rem;
  font-size: 1rem;
  text-align: center;
}

.loginButton {
  padding: 1rem;
  border: 1px solid #d1d5db;
  border-radius: 0.375rem;
  font-size: 1rem;
  background-color: #2DA3E3;
  cursor: pointer;
  font-weight: 500;
  margin-top: 0.5rem;
  color: white;
}

.loginButton:hover {
  background-color: #2380b3;
}

.errorMessage {
    color: #ef4444;
    text-align: center;
    font-size: 0.875rem;
    margin-top: -0.5rem;
    margin-bottom: 0.5rem;
}

.loadingContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 1.2rem;
    color: #4b5563;
}