.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100vw;
  background-color: #ffffff; /* 배경색 */
  box-sizing: border-box;
  overflow: hidden; /* 스크롤 방지 */
}

.header {
  display: flex;
  align-items: center;
  background-color: #ffffff;
  position: sticky;
  top: 0;
  z-index: 10;
}

.headerTitle {
  flex-grow: 1;
  text-align: center;
  font-size: 1.125rem; /* text-lg */
  font-weight: 600; /* font-semibold */
  color: #1f2937;
  margin-right: 2rem; /* 뒤로가기 버튼 공간 확보 */
}

.contentArea {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  text-align: center;
  background-color: #cacaca;
  border-radius: 30px;
  margin: 0.5rem;
}

.description {
  font-size: 1rem;
  font-weight: 500;
  color: #000000;
  margin-bottom: 2rem;
}

.buttonContainer {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  width: 100%;
  max-width: 400px; /* 버튼 컨테이너 최대 너비 */
}

.kitButton {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
  width: 100%;
  flex-direction: column;
  padding: 4rem 1.5rem;
  background-color: #ffffff;
  border: 1px solid #d1d5db;
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  margin-bottom: 3rem;
}

.kitButton:hover {
  transform: translateY(-2px);
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.buttonText {
  font-size: 0.9rem;
  font-weight: 400; /* font-semibold */
  color: #1f2937;
}

.arrowIcon img {
  width: 12px;
  height: 20px;
}

/* 모바일 최적화 */
@media (max-width: 600px) {
  .headerTitle {
    font-size: 1rem;
  }
  .contentArea {
    padding: 1rem 0.75rem;
  }
  .description {
    font-size: 0.9rem;
  }
  .buttonText {
    font-size: 0.9rem;
  }
  .kitButton {
    padding: 4rem 1rem;
  }
}
