.mainContent {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  padding: 1rem;
}

.splashContent {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

.splashImage {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 90%;
  width: 100%;
  background-color: #ffffff;
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  padding: 2rem;
  max-width: 24rem;
  text-align: center;
  box-sizing: border-box;
}

.logo {
  filter: none;
}

.title {
  font-size: 2.25rem;
  font-weight: 700;
  margin-top: 1rem;
  color: #1f2937;
}

.description {
  color: #4b5563;
  margin-top: 1rem;
  font-size: 1.125rem;
  line-height: 1.625;
}

.button {
  margin-top: 3rem;
  border: none;
  position: relative;
  bottom: 0;
  padding: 0.75rem 2rem;
  background-color: #2DA3E3;
  color: #ffffff;
  border-radius: 9999px;
  font-size: 1.125rem;
  font-weight: 600;
  transition-property: background-color;
  transition-duration: 300ms;
  cursor: pointer;
  width: 100%;
  max-width: 400px;
}

.mainScreenContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: #ffffff;
  padding: 4rem 1rem;
  margin-top: 4rem;
  box-sizing: border-box;
}

.mainScreenLogoTop {
  margin-bottom: 0rem;
}

.mainButtonsContainer {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-right: 1rem;
}

.imageWrapper {
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.imageWrapper:hover {
  transform: scale(1.05);
}

.mainScreenLogoBottom {
  margin-top: 13rem;
}


@media (max-width: 600px) {
  .screenContainer {
    padding: 0.5rem;
  }

  .card {
    max-width: 100%;
    padding: 1.5rem 1rem;
    border-radius: 0;
    height: 100vh;
    box-shadow: none;
  }

  .title {
    font-size: 1.75rem;
  }

  .description {
    font-size: 1rem;
  }

  .mainButtonsContainer {
    gap: 1rem;
  }
}